.css-re1aun-MuiMasonry-root{
    margin:0px!important;
}
.css-12kmrxv-MuiMasonry-root{
    margin:0px!important;
}

.css-1n8ymll-MuiMasonry-root{
    margin:0px!important;
}

.lightbox{
    max-width: 60vw;
    max-height: 90vh;
    object-fit: contain;
    display: block;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    margin-top:5rem;
    margin-bottom: 5rem;
}